
<%= link_to 'Back', root_path %>

<h1>Meetings</h1>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "Show this meeting", meeting %>
    </p>
  <% end %>
</div>

#add functionality to invite members to a given meeting.
#add a view to track attendance of the members.
#have a dropdown for each meeting, and add members to it. (those members will go in the MeetingMember join table)


<%= link_to "New meeting", new_meeting_path %>
