<div id="<%= dom_id event %>">
  <p>
    <strong>Event link:</strong>
    <%= event.event_link %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= event.event_name %>
  </p>

  <p>
    <strong>Event datetime:</strong>
    <%= event.event_datetime %>
  </p>

</div>
