<!-- app/views/links/_link.html.erb -->

<div id="<%= dom_id link %>">
  <p>
    <strong>Title:</strong>
    <%= link.title %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= link.url %>
  </p>
</div>
