<h1>Links</h1>

<ul>
  <!-- Add existing links as needed -->
  <li><%= link_to 'Instagram', 'https://www.instagram.com/heattamu/?hl=en', target: '_blank' %></li>
  <li><%= link_to 'Facebook', 'https://www.facebook.com/TexasAMHeat/', target: '_blank' %></li>
  <li><%= link_to 'Maroon Link', 'https://maroonlink.tamu.edu/organization/heat', target: '_blank' %></li>
</ul>