<div id="<%= dom_id member %>">
  <p>
    <strong>Member name:</strong>
    <%= member.member_name %>
  </p>

  <p>
    <strong>Member points:</strong>
    <%= member.member_points %>
  </p>

  <p>
    <strong>Executive status:</strong>
    <%= member.executive_status %>
  </p>

</div>
